body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.big-wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.img-flex {
  display: flex;
  justify-content: baseline;
}

.icon-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-title-align {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: 1rem;
}

.zoom-container {
  transform-origin: top left;
}

@media (min-width: 3000px) {
  .zoom-container {
    zoom: 2;
  }
}