body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.big-wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.img-flex {
  display: flex;
  justify-content: baseline;
}

.icon-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-title-align {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-left: 1rem;
}

.zoom-container {
  transform-origin: top left;
}

@media (min-width: 3000px) {
  .zoom-container {
    zoom: 1.5;
  }
  ::-webkit-scrollbar {
    width: 30px;
  }
}